.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0;
}

#element-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:red;
}
#element-container:hover{
    cursor:pointer;
    color:blue;
}

.innerHTML-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
