*{
    padding:0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flex-container{
    background-image: url("/images/tiendas.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50%;
    margin: 20px;
    padding: 10px;
    outline: 2px solid black;
}
.container__header{
    margin: 20px;
}
.container__header h1{
    font-size: 60px;
}
.button__bono{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: transparent;
    border: none;
    padding: 5px;
    border-radius: .5em;
    border: 1px solid blue;
}
.button__bono:hover{
    background-color: rgb(6, 101, 179);
    cursor: pointer;
    color: white;
}
.inventario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.inventario__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    margin:20px;
    
}
.inventario__img img{
    margin: 20px;
    width: 20vw;
    height: 30vh;
    object-fit: cover;
    border: 1px solid black;
    transition: all .5s;
}
.inventario__img img:hover{
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 0 5px rgb(134, 134, 134),
    0 0 10px rgb(134, 134, 134),
    0 0 30px rgb(134, 134, 134),
    0 0 100px rgb(134, 134, 134); 
}
.inventario__button{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: transparent;
    border: none;
    padding: 5px;
    border-radius: .5em;
    border: 1px solid blue;
}
.inventario__button:hover{
    background-color: rgb(6, 101, 179);
    cursor: pointer;
    color: white;
}
#boton-pagar{
    margin: 20px 0;
    width: 40%;
    transition: all .5s;
}
.carrito{
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.carrito img{
    width: 40px;
    height:40px;
}
.inventario__header{
    font-size: 40px;
    color: rgb(86, 106, 136);
}
#cont-precio{
    font-size: 20px;
    color: rgb(10, 105, 10);
}

.add-delete-container{
    margin: 15px;
}
.add-delete-container img{
    width: 40px;
    height: 40px;
    transition: all .5s ;
    border-radius: 3em;
}
.add-delete-container img:hover{
    cursor: pointer;   
}
.red:hover{
    box-shadow: 0 0 5px rgb(255, 0, 0),
    0 0 10px rgb(253, 0, 0),
    0 0 30px rgb(245, 0, 0),
    0 0 100px rgb(255, 0, 0); 
}
.green:hover{
    box-shadow: 0 0 5px rgb(42, 253, 0),
    0 0 10px rgb(0, 255, 21),
    0 0 30px rgb(0, 255, 0),
    0 0 100px rgb(9, 255, 0); 
}

